<meta charset="utf-8">
<title><%=page.article.headline%></title>
<%-include('./meta.ejs',{page:page}) %>
<%-include('./scripts.ejs',{page:page}); %>
<style amp-custom="">
<%- include('../../build/page.css') %>
</style>