<figure class="ampstart-image-fullpage-hero m0 relative mb4">
  <amp-img width="404" height="600" alt="The Year&#39;s Best Animal Photos" layout="responsive"
    src="https://github.sfpgmr.net/images/2020/markdown-title.png" media="(max-width: 415px)"></amp-img>
  <amp-img height="600" alt="The Year&#39;s Best Animal Photos" layout="fixed-height"
    src="https://github.sfpgmr.net/images/2020/markdown-title.png" media="(min-width: 416px)"></amp-img>
  <figcaption class="absolute top-0 right-0 bottom-0 left-0">
    <header class="p3 center">
      <h1 class="ampstart-fullpage-hero-heading mb3 p4">
        <span class="ampstart-fullpage-hero-heading-text">
          <%=page.article.headline%>
        </span>
      </h1>

      <span class="ampstart-image-credit h4">
        By <a href="#" role="author"
          class="text-decoration-none"><%=page.person.name%></a>,<br><%=page.article.datePublished%>
      </span>
    </header>
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span
          class="ampstart-readmore-text px1">本文を読む</span></a>
    </footer>
  </figcaption>
</figure>

<main id="content" role="main" class="">
  <article>
    <amp-iframe width="600" height="700" layout="responsive" frameborder="0" sandbox="allow-scripts" src="./iframe.html"></amp-iframe>
  </article>
</main>