@if(!local.debug)
<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
  {
    "vars" : {
      "gtag_id": "UA-15457703-9",
      "config" : {
        "UA-15457703-9": { "groups": "default" }
      }
    }
  }
  </script>
  </amp-analytics>
@endif