<amp-ad width="100vw" height="320"
     type="adsense"
     data-ad-client="ca-pub-4402137407996189"
     data-ad-slot="2137109025"
     data-auto-format="rspv"
     data-full-width="">
  <div overflow=""></div>
</amp-ad>
