<!DOCTYPE html>
<html lang="ja" amp>
<head>
  <%- include('/home/sfpg/pj/sandbox/new-site/src/templates/template-head',{meta:meta}); %> 
</head>
<body>
  <div class="container grid-xl">
      <%- body %>
  </div>
  <%- include('/home/sfpg/pj/sandbox/new-site/src/templates/template-footer.ejs'); %>
</body>
</html>