<!DOCTYPE html>
<html lang=ja>
<head>
  <%- include('/home/sfpg/pj/sandbox/new-site/src/templates/template-head',{meta:meta}); %> 
</head>  
<body>
  <% if(!meta.debug) { %>
  <%- include('/home/sfpg/pj/sandbox/new-site/src/templates/template-analytics'); %>
  <% }%>
  <div class="sf container">
    <header class="header-top">
      <h1 class="text-center">S.F. Web</h1> 
      <p class="text-center">
        Programming,Music,etc...
      </p>
      <button class="btn btn-primary">
        Contents →
      </button>
    </header>
    <footer>
      &copy; 2020 Satoshi Fujiwara
    </footer>
  </div>
</body>
</html>
