* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  background: black;
  color: white;
}

.top-nav {
  position: fixed;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  height: 32px;
  color: white;
}

#sentinel {
  width: 0px;
  height: 0px;
}

.contents {
  padding-top: 32px;
  width: 100%;
  position: relative;
  content: strict;
}

@-webkit-keyframes blinking {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

@keyframes blinking {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

.loading {
  font-family: monospace;
  font-size: 24px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 50vh;
  z-index: 32768;
  background: black;
  -webkit-animation: blinking 2s infinite;
          animation: blinking 2s infinite;
  content: strict;
}

.contents > article {
  background: #f0f0f0;
  color: #202020;
  position: absolute;
  max-height: 960px;
  overflow: auto;
  border-radius: 3px;
  /* transition: opacity 1s linear;*/
  opacity: 1.0;
}

.tweet-header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-grid-columns: 40px 2fr 1fr;
      grid-template-columns: 40px 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  font-size: 12px;
  font-weight: bold;
}

.tweet-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.youtube {
  position: relative;
  cursor: pointer;
}

.youtube > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.youtube > svg.player-play {
  width: 64px;
  height: 64px;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  position: absolute;
  z-index: 1000;
  opacity: 0.5;
}

.youtube:hover > svg.player-play {
  opacity: 1.0;
}

.youtube:hover .player-play-1 {
  stroke: #80808080;
}

.youtube > div.yt-title {
  /*text-shadow: #fff 1px 1px 0;*/
  font-size: 1.2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 998;
}

.tweet-profile-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.tweet-user-name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.tweet-date {
  font-size: 8px;
  text-align: right;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contents > twitter-widget {
  overflow: auto;
  max-height: 960px;
  position: absolute;
}

.contents > article > section > .tweet-text {
  display: block;
  padding: 4px;
  word-break: break-all;
  font-size: 12px;
}

.contents > article > h3 {
  font-size: 12px;
}

blockquote.card {
  margin: 4px;
  padding: 4px;
  font-size: 12px;
  background: white;
  border-radius: 4px;
}

blockquote.card > header {
  display: -ms-grid;
  display: grid;
  grid-gap: 4px;
  gap: 4px;
}

blockquote.card-default > header {
  -ms-grid-columns: 64px 1fr;
      grid-template-columns: 64px 1fr;
}

blockquote.card-large > header {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

blockquote.card > header > img {
  width: 100%;
}

div.no-image {
  display: block;
  width: 64px;
  height: 64px;
  background: gray;
  color: white;
  text-align: center;
  line-height: 64px;
}
/*# sourceMappingURL=style.css.map */