.contents {
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  background-color: #fff;
  column-count: 3;
  column-gap: 0;
}

/* Non-grid specific CSS */  
body {
  background:orange;
}

article {
  word-wrap: break-word;
  display:block;
    padding: 5px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  background-color: #ffffff;
}
