<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>

    body {
      background:black;
    }
  
  .contents {
    position:relative;
  }

  .contents > article {
    background:white;
    position: absolute;
    display:block;
  }
  
  </style>
</head>

<body>
  <header class="top-nav">
    <h1>S.F. Info.</h1>
  </header>
  <div class="contents">
    <% tweets.forEach(tweet=>{%>
      <article>
          <%-tweet.text; %>
      </article>
    <% }); %>
  </div>
  <footer>
    CopyLight 2019 Satoshi Fujiwara 
  </footer>
  <script src="./minimasonry.min.js"></script>
  <script src="./index.js"></script>
</body>

</html>
